<div ng-controller="CreateContestCtrl">
  
  <form role="form">
    <table class="table">
      <tr>
        <th>Candidate Name</th>
        <th>Image URL</th>
        <th>Image Preview</th>
        <th>Amazon URL</th>
      </tr>
      <tr ng-repeat="c in candidates">
        <td>
          <div class='form-group' ng-class="{'has-error': c.error_message && c.error_message.name}">
            <input type="text" name="name" class="form-control input-sm" ng-model="c.name" />
            <span id="helpBlock" class="help-block" ng-if="c.error_message && c.error_message.name">{{c.error_message.name[0]}}</span>
          </div>
        </td>
        <td>
          <div class='form-group' ng-class="{'has-error': c.error_message && c.error_message.image_url}">
            <input type="image_url" ng-model="c.image_url" class="form-control input-sm"  name="image_url" />
            <span id="helpBlock" class="help-block" ng-if="c.error_message && c.error_message.image_url">{{c.error_message.image_url[0]}}</span>
          </div>
        </td>
        <td>
          <div class="form-group">
            <img ng-src="{{c.image_url}}" ng-if="c.image_url" width="25"/>
          </div>
        </td>
        <td>
          <div class='form-group' ng-class="{'has-error': c.error_message && c.error_message.amazon_url}">
            <input type="text" ng-model="c.amazon_url" class="form-control input-sm"  name="amazon_url" />
            <span id="helpBlock" class="help-block" ng-if="c.error_message && c.error_message.amazon_url">{{c.error_message.amazon_url[0]}}</span>
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>
          <button ng-click='add()'><i class="fa fa-plus"></i> Add</button>
        </td>
    </table>
    <button class="btn btn-default" ng-click="save()">Save</button>
  </form>
  <pre>form = {{user | json}}</pre>
  <pre>master = {{master | json}}</pre>
</div>
