<div ng-controller="JoinConfirmCtrl" style="max-width: 320px; width: 100%; margin-left: auto;margin-right: auto">
  <h1 class="modal-title">You are **IN**!</h1>
  <div  class="loading" ng-if="!joined">
    <p>
      Please hold while we add you to the pick...
    </p>
    <p>
      <i class="fa fa-spinner fa-spin"></i>
    </p>
  </div>
  <div ng-if="joined">
    <p class="alert alert-success">Check your email. We just sent you a welcome message that you'll want to read.</p>
    <p>Here's what to do next:</p>
    <ul>
      <li>SHARE every day. Share, share, share.
      <li>Really. Share it. Every day. How else are people going to know you're in it to win it?
      <li>Get involved on Facebook. Post videos, thank people for voting and sharing, and post daily updates.
      <li>Share out your competitors. Be a good sport and people will love you for it.
    </ul>
    Good luck.

    <a class="btn btn-default" href="{{contest.canonical_url}}">Back to Contest</a>
  </div>
</div>