<div ng-controller="ContestViewCtrl" class="view">
  <div  class="loading" ng-if="!contest">
    <i class="fa fa-spinner fa-spin"></i>
  </div>
  <div ng-if="contest" class="contest">
    <h1>
      {{contest.title}}
      <button ng-if="contest.is_editable" class="btn btn-xs btn-success" ui-sref="contests-edit({contest_id: contest.id})">Edit</button>
    </h1>
    <div ng-if="contest.password">
      <h2>This pick is password protected. No voting or sharing can take place at this time. We will send you an email when the pick opens to the public.</h2>
      Password: <input type="password" ng-model="input.password" ng-trim="true"/> 
    </div>
    <div ng-if="!contest.password || contest.password == input.password"> 
      <div class="countdown" ng-if="contest.can_end">
        <div ng-if="!contest.is_ended">
          <h2>Voting ends in</h2>
          <table class="countdown table">
            <tr class="times">
              <td>{{contest.duration.days() | numberFixedLen:2}}</td>
              <td>{{contest.duration.hours() | numberFixedLen:2}}</td>
              <td>{{contest.duration.minutes() | numberFixedLen:2}}</td>
              <td class="seconds">{{contest.duration.seconds() | numberFixedLen:2}}</td>
            </tr>
            <tr class="labels">
              <td>Days</td>
              <td>Hours</td>
              <td>Minutes</td>
              <td>Seconds</td>
            </tr>
          </table>
        </div>
        <div class="text-danger" ng-if="contest.is_ended">
          Voting has ended.
        </div>      
      </div>
      <div ng-if="contest.description.trim()">
        <h3>About this Pick</h3>
        <p class="description" dd-text-collapse dd-text-collapse-max-length="110" dd-text-collapse-text="{{contest.description}}"></p>
      </div>
      <div ng-if="contest.sponsors.length>0">
        <h3>Pick Sponsors</h3>
        <div class="sponsors">
          <div class="sponsor clearfix" ng-repeat="sponsor in contest.sponsors">
            <a href="{{sponsor.url}}" target="_self"><img ng-src="{{sponsor.image('thumb')}}" align="left" /></a>
            <a href="{{sponsor.url}}" target="_self">{{sponsor.name}}</a>
            <br/>
            {{sponsor.description}}
          </div>
        </div>
      </div>
    
      <h3>The Picks</h3>
      <p ng-if="contest.can_vote">
        <b><i>Click your favorite image below to cast your vote.</i></b>
      </p>
    
      <div class="alert alert-success" ng-if="contest.can_vote && contest.writein_enabled && contest.current_user_writein">
        <h1>You are in this pick!</h1>
        <p>Your job now is to share, share, share, and encourage others to do so too. Here are some ideas that were successful for other users:</p>
        <ul>
          <li>Vote for someone. If not for yourself, then someone else in the pick.
          <li>Share your link to everyone in the world.
          <li>Not just once! Share every day.
          <li>Ask others to share your link too.
          <li>Make videos and other entertaining posts to raise awareness.
          <li>Be a good sport. Promote others too, you'd be surprised what that can do for your own standing.
        </ul>
        <button class="btn btn-primary" ng-click="share(contest.current_user_writein)"><i class="fa fa-facebook"></i> Share Your Entry Now</button> 
      </div>
      <div class="clearfix"></div>

      <div class="candidate" ng-if="!contest.current_user_writein && contest.password">
        <h2>You</h2>
        <h3>Join the Pick</h3>
        <a class="thumb" ng-click="join()" >
          <img ng-src="/add-user.png" />
        </a>
        <button class="btn btn-success"  ng-click="join()">Join The Pick Now</button>
      </div>

      <div class="candidate" ng-repeat="candidate in contest.candidates" id="c{{candidate.id}}">
        <h2>{{candidate.name}} </h2>
        <h3>{{candidate.vote_count}} votes</h3>
        <a class="thumb" ng-href="{{contest.canonical_url}}" ng-click="vote(candidate)" ng-class="{selected: contest.current_user_candidate_id == candidate.id}">
          <img ng-src="{{candidate.image('mobile')}}" alt="{{candidate.name}}" title="Vote for {{candidate.name}}"/>
        </a>
        <span ng-if="candidate.fb_id == current_user.fb_id">
          <button class="btn btn-success even"  ng-click="join()">Edit</button>
        </span>
        <span ng-if="candidate.fb_id != current_user.fb_id">
          <button class="btn btn-warning even" ng-click="unvote(candidate)" ng-disabled="!contest.can_vote" ng-if="contest.current_user_candidate_id == candidate.id ">Unvote</button>
          <button class="btn btn-success even" ng-click="vote(candidate)" ng-disabled="!contest.can_vote" ng-if="contest.current_user_candidate_id != candidate.id ">Vote</button>
        </span>
        
        <button class="btn btn-primary even" ng-click="share(candidate)" ng-disabled="!contest.can_share"><i class="fa fa-facebook"></i> Share</button>
      </div>
    
      <div class="candidate" ng-if="!contest.current_user_writein && contest.writein_enabled">
        <h2>You</h2>
        <h3>Join the Pick</h3>
        <a class="thumb" ng-click="join()" >
          <img ng-src="/add-user.png" />
        </a>
        <button class="btn btn-success"  ng-click="join()">Join The Pick Now</button>
      </div>
    
      <div scroll-to></div>
      <div class="clearfix"></div>
      <div class="row" ng-if="contest.can_vote">
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Discussion</h3>
            </div>
            <div class="panel-body" style="padding-left: 0px; padding-right: 0px;padding-top:0px">
              <div class="fb-comments" data-href="{{contest.canonical_url}}" data-numposts="5" data-colorscheme="light" data-width="100%"></div>
            </div>
          </div>          
        </div>
      </div>
    </div>
    <div class="modal fade" id="join">
      <div class="modal-dialog">
        <div class="modal-content" ng-if="contest.current_user_writein">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Edit Your Pick</h4>
          </div>
          <div class="modal-body">
            <div class="mini-candidate">
              <h2>{{current_user.first_name}} {{current_user.last_name}}</h2>
              <h3>7,000 votes</h3>
              <div class="thumb">
                <img ng-src="{{current_user.profile_img_url}}"/>
              </div>
            </div>
            <p class="text-danger">This is really what they're going to see if you press Save. Seriously, if you don't like it, go change your Facebook profile.</p>
            <p>
              Update your Facebook profile to whatever you feel makes your **<em>BEST</em>** impression. If you don't like what you see below, go update your Facebook profile and then come back and click edit again.

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="join_confirm()">Save</button>
          </div>
        </div><!-- /.modal-content -->
        <div class="modal-content" ng-if="!contest.current_user_writein">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Join the Pick</h4>
          </div>
          <div class="modal-body">
            <div class="mini-candidate">
              <h2>{{current_user.first_name}} {{current_user.last_name}}</h2>
              <h3>427 votes</h3>
              <div class="thumb">
                <img ng-src="{{current_user.profile_img_url}}"/>
              </div>
            </div>
            <p class="text-danger">This is really what they're going to see if you press Join. Seriously, if you don't like it, go change your Facebook profile.</p>
            <p>
              So you want to join the pick, eh? Well, it's pretty easy. Go change your Facebook profile to whatever you feel makes your **<em>BEST</em>** impression. If you don't like what you see below, go update your Facebook profile and then come back to join the pick.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="join_confirm()">Join Now</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->      
    <div class="modal fade" id="join_confirm">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">You are **IN**!</h4>
          </div>
          <div class="modal-body">
            <div  class="loading" ng-if="!joined">
              <p>
                Please hold while we add you to the pick...
              <p>
                <i class="fa fa-spinner fa-spin"></i>
            </div>
            <div ng-if="joined">
              <p class="alert alert-success">Check your email. We just sent you a welcome message that you'll want to read.</p>
              <p>Awesome sauce, you're in the pick. Here's what to do next:</p>
              <ul>
                <li>Find your entry on this page and cast the first vote.
                <li>See the SHARE button below your entry. Share, share, share.
                <li>Really. Share it. Every day. How else are people going to know you're in it to win it?
                <li>Get involved on Facebook. Post videos, thank people for voting and sharing, and post daily updates.
                <li>Share out your competitors. Be a good sport and people will love you for it.
              </ul>
              Good luck.
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->      </div>
</div>
