/* Space out content a bit */body {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */.header, .marketing, .footer {
  padding-right: 15px;
  padding-left: 15px;
}
/* Custom page header */.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}
/* Custom page footer */.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
.container-narrow > hr {
  margin: 30px 0;
}
/* Main marketing message and sign up button */.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}
/* Supporting marketing content */.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
/* Responsive: Portrait tablets and up */@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  /* Space out the masthead */
  /* Remove the bottom border on the jumbotron for visual effect */  .header, .marketing, .footer {
    padding-right: 0;
    padding-left: 0;
  }
  .header {
    margin-bottom: 30px;
  }
  .jumbotron {
    border-bottom: 0;
  }
}
button, input, optgroup, select, textarea {
  margin: 2px;
  font: inherit;
  color: inherit;
}
.candidate:hover {
  border-color: #e8a887;
  cursor: pointer;
}
.candidate:hover .mainContain .roundContainX .overlay {
  display: block;
}
.candidate.selected {
  border-color: green;
}
.candidate-wrapper {
  float: left;
  margin-bottom: 15px;
}
.candidate {
  border: 15px solid #efe6e6;
  border-radius: 20%;
  width: 175px;
  height: 175px;
  position: relative;
  margin: 15px;
  margin-bottom: 5px;
}
.candidate .mainContain {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 145px;
}
.candidate .mainContain .name {
  position: absolute;
  z-index: 10;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-family: 'Trebuchet MS';
}
.candidate .mainContain .action_bar {
  position: absolute;
  z-index: 20;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-family: 'Trebuchet MS';
  bottom: 0px;
  height: 26px;
}
.candidate .mainContain .mProgressContain {
  width: 145px;
  height: 145px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin: 0;
  text-align: center;
  border-radius: 17.5px;
}
.candidate .mainContain .mProgressContain .mProgress0 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
}
.candidate .mainContain .mProgressContain .mProgress1 {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0px;
  background-color: '#51C35F';
  transition-duration: 3s;
  opacity: 0.5;
}
.candidate .mainContain .roundContainX {
  width: 145px;
  height: 145px;
  background: transparent;
  position: absolute;
  z-index: 4;
  overflow: hidden;
  margin: 0;
  text-align: center;
  top: 0px;
  left: 0px;
}
.candidate .mainContain .roundContainX .overlay {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bold;
  font-family: 'Trebuchet MS';
  color: green;
  background-color: white;
  opacity: 0.8;
  top: 0px;
  border-radius: 21px;
  display: none;
}
.candidate .mainContain .roundContainX .overlay h1 {
  position: relative;
  top: 20px;
}
.candidate .mainContain img {
  width: 145px;
  height: 145px;
  padding: 30px;
}
.my-contests .candidate {
  border: 1px solid #efe6e6;
  border-radius: 20%;
  width: 150px;
  height: 150px;
  position: relative;
  margin: 1px;
  margin-bottom: 5px;
}
.my-contests .candidate .mainContain {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 148px;
}
.my-contests .candidate .mainContain .name {
  position: absolute;
  z-index: 10;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-family: 'Trebuchet MS';
}
.my-contests .candidate .mainContain .action_bar {
  position: absolute;
  z-index: 20;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-family: 'Trebuchet MS';
  bottom: 0px;
  height: 26px;
}
.my-contests .candidate .mainContain .mProgressContain {
  width: 148px;
  height: 148px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin: 0;
  text-align: center;
  border-radius: 15px;
}
.my-contests .candidate .mainContain .mProgressContain .mProgress0 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
}
.my-contests .candidate .mainContain .mProgressContain .mProgress1 {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0px;
  background-color: '#51C35F';
  transition-duration: 3s;
  opacity: 0.5;
}
.my-contests .candidate .mainContain .roundContainX {
  width: 148px;
  height: 148px;
  background: transparent;
  position: absolute;
  z-index: 4;
  overflow: hidden;
  margin: 0;
  text-align: center;
  top: 0px;
  left: 0px;
}
.my-contests .candidate .mainContain .roundContainX .overlay {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bold;
  font-family: 'Trebuchet MS';
  color: green;
  background-color: white;
  opacity: 0.8;
  top: 0px;
  border-radius: 21px;
  display: none;
}
.my-contests .candidate .mainContain .roundContainX .overlay h1 {
  position: relative;
  top: 20px;
}
.my-contests .candidate .mainContain img {
  width: 148px;
  height: 148px;
  padding: 30px;
}
.hot .contest {
  position: relative;
  width: 152px;
  border: 1px solid black;
  border-radius: 9px;
}
.hot .contest .tl {
  border-top-left-radius: 7px;
}
.hot .contest .tr {
  border-top-right-radius: 7px;
}
.hot .contest .bl {
  border-bottom-left-radius: 7px;
}
.hot .contest .br {
  border-bottom-right-radius: 7px;
}
.hot .contest .vs {
  position: absolute;
  top: 49px;
  font-size: 22pt;
  color: red;
  border: 1px solid black;
  background-color: white;
  opacity: 0.8;
  width: 48px;
  height: 45px;
  text-align: center;
  vertical-align: middle;
  border-radius: 24px;
  left: 49px;
  padding-top: 2px;
}
.home .contest {
  position: relative;
  width: 152px;
  border: 1px solid black;
  border-radius: 9px;
}
.home .contest .tl {
  border-top-left-radius: 7px;
}
.home .contest .tr {
  border-top-right-radius: 7px;
}
.home .contest .bl {
  border-bottom-left-radius: 7px;
}
.home .contest .br {
  border-bottom-right-radius: 7px;
}
.home .contest .vs {
  position: absolute;
  top: 49px;
  font-size: 22pt;
  color: red;
  border: 1px solid black;
  background-color: white;
  opacity: 0.8;
  width: 48px;
  height: 45px;
  text-align: center;
  vertical-align: middle;
  border-radius: 24px;
  left: 49px;
  padding-top: 2px;
}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget iframe[style] {
  width: 100% !important;
}
