/* Space out content a bit */
body {
  padding-top: 00px;
  padding-bottom: 20px; }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px; }

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5; }

/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px; }

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5; }

.container-narrow > hr {
  margin: 30px 0; }

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5; }

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px; }

/* Supporting marketing content */
.marketing {
  margin: 40px 0; }

.marketing p + h4 {
  margin-top: 28px; }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0; }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px; }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0; } }
button, input, optgroup, select, textarea {
  margin: 2px;
  font: inherit;
  color: inherit; }

.candidate:hover {
  border-color: #e8a887;
  cursor: pointer; }
  .candidate:hover .mainContain .roundContainX .overlay {
    display: block; }

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget iframe[style] {
  width: 100% !important; }

.list .contest .candidate {
  border: 1px solid #dddddd;
  padding: 5px;
  border-radius: 3px;
  margin: 5px;
  width: 130px;
  height: 160px;
  text-align: center;
  float: left; }
  .list .contest .candidate .thumb {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 2px; }
  .list .contest .candidate .thumb.selected {
    margin-left: auto;
    margin-right: auto; }
.list .contest .votes-total {
  font-size: 43px;
  color: gray;
  text-align: right;
  margin-top: auto;
  margin-bottom: auto; }
.list .contest .thumb {
  position: relative;
  border: 1px solid gray;
  border-radius: 3px;
  margin: 3px;
  width: 77px;
  height: 77px;
  display: block; }
  .list .contest .thumb img {
    border-radius: 3px;
    width: 75px;
    height: 75px; }
  .list .contest .thumb .votes-count {
    position: absolute;
    background-color: #ffe9dd;
    width: 25px;
    height: 25px;
    right: -1px;
    bottom: -1px;
    border-radius: 3px;
    text-align: center;
    color: #ff6b00;
    border: 1px solid gray; }
.list .contest .thumb.selected {
  border: 3px solid #24db24;
  width: 81px;
  height: 81px;
  margin: 0px; }
.list .contest .title {
  font-size: 26px; }

ul.nav {
  text-align: center;
  margin-bottom: 10px; }

.nav > li {
  position: relative;
  display: inline-block;
  width: 70px; }

ul.nav.nav-pills.footer-nav {
  float: right; }

.nav-pills > li {
  width: auto; }

.view .contest {
  text-align: center; }
  .view .contest .alert {
    margin-left: auto;
    margin-right: auto; }
    @media (min-width: 0px) {
      .view .contest .alert {
        width: 100%; } }
    @media (min-width: 750px) {
      .view .contest .alert {
        width: 75%; } }
    .view .contest .alert h1 {
      text-align: center; }
    .view .contest .alert p, .view .contest .alert ul {
      text-align: left; }
  .view .contest .modal-body {
    text-align: left; }
  .view .contest .candidate {
    border-bottom: 1px solid #dddddd;
    padding: 5px;
    margin: 5px;
    text-align: center;
    width: 24%; }
    @media (min-width: 0px) {
      .view .contest .candidate {
        width: 100%; } }
    @media (min-width: 480px) {
      .view .contest .candidate {
        width: 47%;
        display: inline-block; } }
    @media (min-width: 768px) {
      .view .contest .candidate {
        width: 31%; } }
    @media (min-width: 992px) {
      .view .contest .candidate {
        width: 23%; } }
    .view .contest .candidate .thumb {
      position: relative;
      border: 1px solid gray;
      border-radius: 3px;
      margin: 3px;
      display: block; }
      .view .contest .candidate .thumb img {
        border-radius: 3px;
        width: 100%; }
    .view .contest .candidate .thumb.selected {
      border: 3px solid #24db24; }
    .view .contest .candidate .btn {
      font-size: 18px; }
    .view .contest .candidate .even {
      width: 45%;
      padding: 6px 2px; }
  .view .contest #join {
    text-align: left; }
    .view .contest #join h1, .view .contest #join .h1, .view .contest #join h2, .view .contest #join .h2, .view .contest #join h3, .view .contest #join .h3 {
      margin-top: -2px;
      margin-bottom: 5px; }
    .view .contest #join h2 {
      font-size: 15px; }
    .view .contest #join h3 {
      font-size: 10px; }
    .view .contest #join .mini-candidate {
      border: 1px solid #e7e4e4;
      border-radius: 3px;
      padding: 5px;
      margin: 5px;
      text-align: left;
      width: 50%; }
      @media (min-width: 0px) {
        .view .contest #join .mini-candidate {
          width: 50%; } }
      @media (min-width: 480px) {
        .view .contest #join .mini-candidate {
          width: 47%;
          display: inline-block; } }
      @media (min-width: 768px) {
        .view .contest #join .mini-candidate {
          width: 31%; } }
      @media (min-width: 992px) {
        .view .contest #join .mini-candidate {
          width: 23%; } }
      .view .contest #join .mini-candidate .thumb {
        position: relative;
        border: 1px solid gray;
        border-radius: 3px;
        margin: 3px;
        display: block; }
        .view .contest #join .mini-candidate .thumb img {
          border-radius: 3px;
          width: 100%; }
      .view .contest #join .mini-candidate .thumb.selected {
        border: 3px solid #24db24; }
      .view .contest #join .mini-candidate .btn {
        font-size: 18px; }
      .view .contest #join .mini-candidate .even {
        width: 45%;
        padding: 6px 2px; }
  .view .contest #join_confirm .loading {
    font-size: 20px; }
    .view .contest #join_confirm .loading .fa {
      font-size: 50px; }
  .view .contest .votes-total {
    font-size: 43px;
    color: gray;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto; }
  .view .contest .title {
    font-size: 26px; }

.navbar-xs {
  min-height: 22px;
  border-radius: 0; }

.navbar-xs .navbar-brand {
  padding: 2px 8px;
  font-size: 14px;
  line-height: 14px; }

.navbar-xs .navbar-nav > li > a {
  border-right: 1px solid #ddd;
  padding-top: 2px;
  padding-bottom: 2px;
  line-height: 16px; }

.navbar {
  margin-bottom: 2px; }

.loading {
  text-align: center;
  font-size: 100px; }
