<div ng-controller="HomeCtrl" class="home">
  <h2>Vote and watch social contests in real time.</h2>
  <div class="contest" ng-repeat="contest in contests" style="position:relative" ui-sref='contests-view({id: contest.id, slug: contest.slug})'>
    <div>
      <img class="tl" ng-src="{{contest.candidates[0].image_url}}"/><img class="tr" ng-src="{{contest.candidates[1].image_url}}"/>
    </div>
    <div>
      <img  class="bl" ng-src="{{contest.candidates[2].image_url}}"/><img class="br"  ng-src="{{contest.candidates[3].image_url}}"/>
    </div>
    <div class="vs">VS</div>
  </div>
</div>