<div class="list">
  <div  class="loading" ng-if="!contests">
    <i class="fa fa-spinner fa-spin"></i>
  </div>
  <div ng-repeat="contest in contests" class="contest row" ng-if="contests">
    <div class="col-xs-2 col-sm-1">
      <div class="votes-total">
        {{contest.total_votes}}
      </div>
      <button ng-if="contest.is_editable" class="btn btn-xs btn-success" ui-sref="contests-edit({contest_id: contest.id})">Edit</button>
    </div>
    <div class="col-xs-10">
      <div class="row">
        <div class="col-xs-12">
          <a class="title" ng-href="{{contest.canonical_url}}">{{contest.title}}</a>
          
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <ul class="list-inline">
            <li ng-repeat="candidate in contest.candidates">
              <a class="thumb" ng-href="{{contest.canonical_url}}#c{{candidate.id}}"  ng-class="{selected: contest.current_user_candidate_id == candidate.id}">
                <img in-view="lazyload($event, $inview, candidate.image('tiny'))" src="/add-user.png"/>
                <span class='votes-count'>{{candidate.vote_count}}</span>
              </a>
            </li>
          </ul>
        </div>
      
    </div>
  </div>
</div>