<div class="list">
  <div ng-repeat="contest in contests" class="contest row">
    <div class="class-lg-12">
      <span class="votes-total">
        {{contest.total_votes}}
      </span>
      
      <a class="thumb" ng-href="{{contest.canonical_url}}" ng-repeat="candidate in contest.candidates">
        <img ng-src="{{candidate.image('tiny')}}"/>
        <span class='votes-count'>{{candidate.vote_count}}</span>
      <a>
      <a class="title" ng-href="{{contest.canonical_url}}">{{contest.title}}</a>
      <button ng-if="contest.can_current_user_edit" class="btn btn-xs btn-success" ui-sref="contests-edit({contest_id: contest.id})">Edit</button>
    </div>
  </div>
</div>